/* * {
    outline: 1px solid red;
} */

body {
    margin: 0;
    padding: 0;
}

h5 {
    margin-left: 35px;
    color: rgba(0, 0, 0, 0.5)
}

.newMembers h5 {
    margin-left: 0;
}

/*********************************/
/**** HEADER NAV (HORIZONTAL) ****/
/*********************************/

.grid {
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns:  75px auto ;
    grid-template-rows:  75px auto ;
    grid-template-areas: 'nav nav' 'side main';
}


.nav {
    display: flex;
    grid-area: nav;  
    background-color: rgb(116, 121, 186); 
}

.nav h2 {
    margin-right: auto;
    margin-left: 30px; 
}

.white {
    color: white;
}

.lightText {
    color: white;
    font-weight: lighter;
}

.headerElements {
    display: flex;
    justify-items: flex-end;
    margin: auto;
    margin-right: 40px;
}

.bellIcon {
    position: absolute;
    transform: translate(-50%, -50%);
    transform-origin: left top;
    top: 50%;
    left: 50%;
    height: 25px;
    width: 25px;
    margin: auto;
    margin-right: 30px; 
}

.bellIcon:hover {
    animation: ring 1s linear;
} 

@keyframes ring {
    0% {transform: rotate(0deg) translate(-50%, -50%);;}
    20% {transform: rotate(45deg) translate(-50%, -50%);;}
    40%{transform: rotate(-45deg) translate(-50%, -50%);;}
    60%{transform: rotate(15deg) translate(-50%, -50%);;}
    80%{transform: rotate(-15deg) translate(-50%, -50%);;}
    100%{transform: rotate(0deg) translate(-50%, -50%);;}
}

.greenDot {
    position: relative;
    height: 60px;
    width: 60px;
}

.greenDot::after {
    height: 7px;
    width: 7px;
    background-color: rgb(102, 192, 136);
    border-radius: 50%;
    margin: auto;
    content: "";
    position: absolute;
    top: 20%;
    right: 20%;
}

.lineBreak {
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.171);
    margin-right: 30px;
}

.profileImg {
    border-radius: 50%;
    /* height: 5vh; */
    width: 40px;
}

.nav p {
    color: white;
    margin-left: 10px;
}

/*******************************/
/***** SIDE NAV (VERTICAL) *****/
/*******************************/

.side {
    grid-area: side;
    background-color: rgb(76, 77, 111);
    display: flex;
    justify-content: space-around;

}

.sideIcons {
    width: 100%;
}

.sideHover {
    position: relative;
    width: 100%;
    text-align: center;
} 

.sideHover::after {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 5px;
    border-radius: 3px;
    background-color: rgb(102, 192, 136);
    content: "";
    top: 0;
    left: 0;
    transition: .5s
}

.sideHover:hover::after {
    opacity: 1;
}

.dashboardIcon,
.membersIcon,
.visitsIcon,
.settingsIcon {
    height: 30px;
    width: 30px;
    margin: 10px;
    margin-top: 22px;
}

/*************************
**** DASHBOARD AREA ******
*************************/

.main {
    grid-area: main;
    /* background-color: rgba(0, 0, 0, 0.096); */
}

.grayArea {
    background-color: rgba(128, 128, 128, 0.123);
    width: 90%;
    margin-left: auto;
    margin-bottom: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dashboardElements {
    display: flex;
}

.dashboardElements h3 {
    margin-left: auto;
    color: rgba(0, 0, 0, 0.5);
    font-size: 25px;
    font-weight: 500;
}

.dashboardElements input {
    padding: 5px;
    border-radius: 5px;
    min-width: 25%;
    width: 80%;
    height: 15px;
    margin: 20px;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.349);
    font-size: 14px;
}

.mag {
    width: 15px; 
    height: 15px; 
    background-image: url("./icons/magnifying.png");
    background-size: contain;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate(-50%, -50%);
}

/******* ALERT BOX *******/ 

.alertBox {
    width: 96%;
    height: 20px;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 6px;
    position: relative;
    background-color: rgb(115, 121, 186);
    border-radius: 4px;
}

.alertBox p {
    text-align: left;
    margin: auto;
    color: white;
    padding-right: 30px;
}

.alertBox span {
    margin-right: 12px;
}

.x {
    height: 12px;
    width: 12px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(-50%, -50%);
    filter: grayscale(100%) brightness(500%);
}

/*******************************/
/***** TRAFFIC AND TIMELINE ****/
/*******************************/

.timelineNav {
    display: flex;
    align-items: center;
}

.timelineTabs {
    list-style: none;
    display: inline;
    margin-left: auto;
    margin-right: 30px;
}

.timelineTabs li {
    display: inline;
    margin-left: 30px;
    color: rgba(0, 0, 0, 0.6);
    padding: 3px 10px;
}

.timelineTabs li:hover {
    color: white;
    background-color: rgba(102, 192, 136);
    transition: .2s;
    border-radius: 20px;
}
/*******************************/
/*********** CHARTS ************/
/*******************************/

.charts {
    display: grid;
    grid-template-areas: 
    'line line'
    'bar doughnut';
    grid-template-columns: 50% 50%;
    width: calc(100%);
    height: 600px;
    grid-gap: 1px;
    background-color: gray;
    margin-bottom: 1px;
}

#myChart,
#myBar,
#myDoughnut {
    max-height: 80%;
    max-width: 90%;
    margin-left: 5%;
}


.line {
    grid-area: line;
    height: 300px;
    background-color: white; 
}

.bar {
    grid-area: bar;
    height: 300px; 
    /* max-width: 50%; */
    background-color: white;
}   

.doughnut {
    grid-area: doughnut;
    height: 300px; 
    /* max-width: 50%; */
    background-color: white;
}

/*******************************/
/***** SOCIAL STATS DIV ********/
/*******************************/

.flexStatsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.151);
}

.socialStats {
    width: 90%;
    margin-bottom: auto;
}

.Twitter,
.Facebook,
.Google {
    width: 21%;
    height: 8vh;
    background-color: rgba(0, 0, 0, 0.060);
    margin: 30px;
    margin-bottom: 50px;
    margin-left: 90px;
    padding: 20px;
    margin-right: auto;
    border-radius: 8px;
    position: relative;
}

.twitterSVG,
.facebookSVG,
.googleSVG {
    height: 5vh;
    width: 3vw;
    display: flex;
    position: relative;
}

.twitterSVG {
    margin-top: 12px;
    margin-left: 5px;
}

.logoBubble {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgb(115, 121, 186);
    border-radius: 50%;
    top: 50%;
    left: 80px;
    height: 85px;
    width: 85px;
    transform: translate(-50%, -50%);
}

.pColor {
    color: rgb(115, 121, 186);
    font-weight: 700;
    font-size: 18px;
}

.Twitter p,
.Facebook p,
.Google p {
    margin-top: 5px;
    margin-left: 150px;
    margin-bottom: 10px;
}

.numSize {
    font-size: 45px;
    color: black;
    font-weight: 100;
}

/*******************************/
/******* LOWER 4 PANELS ********/
/*******************************/

.panels {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    'newMembers recentActivity'
    'userMessages userSettings';
    width: 100%;
    grid-gap: 2x;
}

.panels > * {
    outline: 1px solid rgba(128, 128, 128, 0.205);
}
/********** New Members *********/

.memberBoxes {
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
}

.newMembers {
    grid-area: newMembers;
    width: 90%;
    padding: 0 5%;
    background-color: white;
}

.newMembers img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 7px;
}

.date {
    margin-left: auto;
}

/********** Recent Activity **********/

.recentActivity {
    grid-area: recentActivity;
}

.rightCaret {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgba(0, 0, 0, 0.384);
    margin-left: auto;
}

.caretRelative {
    position: relative;
}

.inputRelative {
    width: 300px;
    position: relative;
}

.caretRelative select {
    width: 95%;
    margin-left: 3%;
    height: 30px;
}

/********** Message User **********/

.userMessages {
    grid-area: userMessages;
    height: 100%;
    width: 100%;
    background-color: white;
}

.userMessages input,
.userMessages textarea {
    display: flex;
    margin: auto;
    margin-bottom: 15px;
}

.userMessages input {
    width: 90%;
    border-color: rgba(0, 0, 0, 0.164);
    border-radius: 5px;
    padding: 8px;
}

.userMessages textarea {
    width: 91.5%;
    border-color: rgba(0, 0, 0, 0.178);
    height: 35%;
    border-radius: 5px;
    resize: none;
}

.userMessages button {
    background-color: rgb(115, 121, 186);
    border: none;
    color: white;
    width: 92.5%;
    height: 40px;
    margin-left: 30px;
    border-radius: 5px;
}

/********** User Settings **********/

.userSettings {
    grid-area: userSettings;
    height: 100%;
    width: 100%;
    background-color: white;
}

.newMembers p,
.recentActivity p,
.userMessages p,
.userSettings p
 {
    font-size: 14px;
}

.userSettings p {
    margin-top: -7px;
    margin-bottom: 12px;
    margin-left: 27px;
}

.userSettings input {
    display: flex;
    margin: auto;
    margin-top: 2%;
    width: 92%;
    padding: 8px;
    margin-left: 27px;
}

.userSettings button {
    margin-top: 2.2%;
    margin-left: 27px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45.6%;
    height: 40px;
    background-color: rgb(115, 121, 186);
    border: none;
    color: white;
    border-radius: 5px;
}

button.onOffButton {
    height: 30px;
    width: 90px;
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.726);
    border-width: 0px;
    position: relative;
    top: 10px;
    outline: none;
    transition: .2s;
}

.profile button {
    margin-left: 53px;
}

.downCaret {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;   
    border-top: 10px solid rgba(0, 0, 0, 0.384);
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate(-50%, -50%);
}

/* TOGGLE BUTTONS */

.knob {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: white;
    transform:translate(-50%, -50%);
    top: 50%;
    left: 20px;
    border-radius: 50%;
    transition: .2s;
}

.onOffButton.on{
    background-color:rgb(115, 121, 186)
}
    
.onOffButton.on .knob{
    left: 70px;
}

.onOffButton.on::after {
    content: "ON";
    position: absolute;
    transform:translate(-50%, -50%);
    top: 50%;
    left: 20px;
    color: white;
    font-weight: 700;
}

.onOffButton:not(.on)::before {
    content: "OFF";
    position: absolute;
    transform:translate(-50%, -50%);
    top: 50%;
    right: 0;
    color: white;
    font-weight: 700;  
}

body button.cancel {
    background-color: rgba(0, 0, 0, 0.356);
}

body button.save,
body button.cancel {
    margin-left: 25px;
    margin-top: 32px;
}

.horizontalBreakLine {
    border-bottom: .5px solid rgba(0, 0, 0, 0.123);
    width: 100%;
}

/*******************
***** QUERIES ******
*******************/

/* 1024PX QUERY */ /* squared away! just chart fixes needed for all queries */

@media (min-width: 1024px) {
    .alertBox {
        width: 96%;
        height: 35px;
        margin: auto;
        margin-top: 8px;
        margin-bottom: 8px;
        padding: 6px;
        position: relative;
        background-color: rgb(115, 121, 186);
        border-radius: 4px;
    }
    
    .alertBox p {
        text-align: left;
        margin: auto;
        color: white;
        padding-right: 30px;
    }
    
    .alertBox span {
        margin-right: 12px;
    }

    .flexStatsContainer {
        width: 100%;
        height: 100%;
        flex-direction: row;
    }

    .Twitter,
    .Facebook,
    .Google {
        width: 28%;
        height: 50%;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .twitterSVG,
    .facebookSVG,
    .googleSVG {
        height: 50%;
        width: 50%;
    }

    .userMessages button {
        margin-left: 19px;
    }

    button.save,
    button.cancel {
        width: 40%;
        margin-right: 18px;
    }

    .userSettings select {
        margin-top: 4.9%;
    }
}

/* 768PX QUERY*/ /* check panels portion for issue commentary */

@media (max-width: 768px) {
    .charts {
        display: grid;
        grid-template-areas: 
        'line'
        'bar'
        'doughnut';
        grid-template-columns: 100%;
        width: calc(100% - 20px);
        height: 900px;
        grid-gap: 1px;
        background-color: gray;
        margin-bottom: 15px;
    }

    .alertBox {
        height: 60px;
        width: 95%;
    }

    .timelineTabs {
        display: flex;
    }

    .flexStatsContainer {
        flex-direction: column;
    }

    .Twitter,
    .Facebook,
    .Google {
        width: 50%;
        height: 50%;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .twitterSVG,
    .facebookSVG,
    .googleSVG {
        height: 50%;
        width: 50%;
    }

    .panels {
        grid-template-areas: 
        'newMembers' 
        'recentActivity'
        'userMessages' 
        'userSettings';
        width: 100%; /* issues with this in this query - 100% only makes grid in this query half of the container width desired and 200% puts it over the edge giving too much white space on right of container then 190% isn't the full enough container width - wtf */
    }

    .userMessages button {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .userSettings select {
        width: 90%;
        height: 40px;
        margin-left: 25px;
        padding: 10px 0;
    }

    .caretRelative {
        margin-top: 25px;
    }

    button.save,
    button.cancel {
        width: 90.5%;
    }
}