/* * {
    outline: 1px solid red;
} */

body {
    margin: 0;
    padding: 0;
}

h5 {
    margin-left: 35px;
    color: rgba(0, 0, 0, 0.5)
}

.newMembers h5 {
    margin-left: 0;
}

/*********************************/
/**** HEADER NAV (HORIZONTAL) ****/
/*********************************/

.grid {
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns:  75px auto ;
    grid-template-rows:  75px auto ;
    grid-template-areas: 'nav nav' 'side main';
}

.nav {
    display: flex;
    grid-area: nav;  
    background-color: rgb(116, 121, 186); 
    /* cant add height? why? */
}

.nav h2 {
    margin-right: auto;
    margin-left: 30px; 
    /* when margin-left auto - goes all the way right, and margin-right auto goes all the way left - wh?? */
}

.white {
    color: white;
}

.lightText {
    color: white;
    font-weight: lighter;
}

.headerElements {
    display: flex;
    justify-items: flex-end;
    margin: auto;
    margin-right: 40px;
}

.bellIcon {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 25px;
    width: 25px;
    margin: auto;
    margin-right: 30px; 
    /* needs green notification color circle near icon upper right of it next to  */
}

.greenDot {
    position: relative;
    height: 60px;
    width: 60px;
}

.greenDot::after {
    height: 7px;
    width: 7px;
    background-color: rgb(102, 192, 136);
    border-radius: 50%;
    margin: auto;
    content: "";
    position: absolute;
    top: 20%;
    right: 20%;
}

.lineBreak {
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.171);
    margin-right: 30px;
}

.profileImg {
    border-radius: 90%; /* cant get this to shrink any more - why not? also doesnt look right - refer to other css file made manipulating img from css directly */
    height: 5vh;
    width: 5vw;
}

.nav p {
    color: white;
    margin-left: 10px;
}

/*******************************/
/***** SIDE NAV (VERTICAL) *****/
/*******************************/

.side {
    grid-area: side;
    background-color: rgb(76, 77, 111);
    display: flex;
    justify-content: space-around;

}

.sideIcons {
    width: 100%;
    margin: 10px;
}

.sideHover {
    position: relative;
} 

.sideHover::after {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 5px;
    border-radius: 3px;
    background-color: rgb(102, 192, 136);
    content: "";
    top: 0;
    left: 0;
    transition: .5s
}

.sideHover:hover::after {
    opacity: 1;
}

.dashboardIcon,
.membersIcon,
.visitsIcon,
.settingsIcon {
    height: 3vh;
    width: 3vw;
    margin: 10px;
    margin-top: 22px;
}

/* add :hover effect with ::before and ::after pseudo CSS and make it green vertical line hugging left side of screen with same height as icon itself with 5-10px space between icon and left side of page as shown in example layout .png file */

.main {
    grid-area: main;
    background-color: rgba(0, 0, 0, 0.096);
}

.grayArea {
    background-color: rgba(128, 128, 128, 0.123);
    width: 90%;
    margin-left: auto;
    margin-bottom: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dashboardElements {
    display: flex;
}

.dashboardElements h3 {
    margin-left: auto;
    color: rgba(0, 0, 0, 0.5);
    font-size: 25px;
    font-weight: 500;
}

.dashboardElements input {
    padding: 5px;
    border-radius: 5px;
    min-width: 25%;
    height: 15px;
    margin: 20px;
     /* put in magnifying glass inside input element on right side */
}

input::placeholder {
    color: rgba(0, 0, 0, 0.349);
    font-size: 14px;
}

.alertBox {
    width: 96%;
    height: 20px;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 6px;
    background-color: rgb(115, 121, 186);
    border-radius: 4px;
/* insert an interactive 'x' button at the end of the alert message to enable closing out of the prompt  */
}

.alertBox p {
    text-align: left;
    margin: auto;
    color: white;
}

.alertBox span {
    margin-right: 12px;
}

/*******************************/
/***** TRAFFIC AND TIMELINE ****/
/*******************************/

.timelineNav {
    display: flex;
    align-items: center;
}

.timelineTabs {
    list-style: none;
    display: inline;
    margin-left: auto;
    margin-right: 30px;
}

.timelineTabs li {
    display: inline;
    margin-left: 30px;
    color: rgba(0, 0, 0, 0.6);
    padding: 3px 10px;
}

.timelineTabs li:hover {
    color: white;
    background-color: rgba(102, 192, 136);
    transition: .2s;
    border-radius: 20px;
}
/*******************************/
/*********** CHARTS ************/
/*******************************/

.charts {
    display: grid;
    grid-template-areas: 
    'line line'
    'bar doughnut';
    grid-template-columns: 50% 50%;
    width: calc(100% - 20px);
    height: 600px;
    grid-gap: 1px;
    background-color: gray;
    margin-bottom: 15px;
}

#myChart,
#myBar,
#myDoughnut {
    max-height: 80%;
    max-width: 90%;
    margin-left: 5%;
}


.line {
    grid-area: line;
    height: 300px;
    background-color: white; 
}

.bar {
    grid-area: bar;
    height: 300px; 
    /* max-width: 50%; */
    background-color: white;
}   

.doughnut {
    grid-area: doughnut;
    height: 300px; 
    /* max-width: 50%; */
    background-color: white;
}

/*******************************/
/***** SOCIAL STATS DIV ********/
/*******************************/

.flexStatsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.151);
} /* nothing fitting properly inside of the 3 social stats containers  */

.socialStats {
    width: 100%;
    margin-bottom: auto;
}

.Twitter,
.Facebook,
.Google {
    width: 21%;
    height: 8vh;
    background-color: rgba(0, 0, 0, 0.060);
    margin: 25px;
    margin-bottom: 50px;
    padding: 20px;
    margin-right: auto;
    border-radius: 8px;
    position: relative;
}

.twitterSVG,
.facebookSVG,
.googleSVG {
    height: 5vh;
    width: 3vw;
    display: flex;
    position: relative;
}

.twitterSVG {
    margin-top: 12px;
    margin-left: 5px;
}

.logoBubble {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgb(115, 121, 186);
    border-radius: 50%;
    top: 50%;
    left: 80px;
    height: 85px;
    width: 85px;
    transform: translate(-50%, -50%);
}

.pColor {
    color: rgb(115, 121, 186);
    font-weight: 700;
    font-size: 18px;
}

.Twitter p,
.Facebook p,
.Google p {
    margin-top: 5px;
    margin-left: 150px;
    margin-bottom: 10px;
}

.numSize {
    font-size: 45px;
    color: black;
    font-weight: 100;
}

/*******************************/
/******* LOWER 4 PANELS ********/
/*******************************/

.panels {
    display: grid;
    grid-template-areas: 
    'newMembers recentActivity'
    'userMessages userSettings';
    width: 100%;
    grid-gap: 1px;
}

/********** New Members *********/

.memberBoxes {
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
}

.newMembers {
    grid-area: newMembers;
    /* height: 300px; */
    width: 90%;
    padding: 0 5%;
    background-color: white;
}

.newMembers img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 7px;
}

.date {
    margin-left: auto;
}

/********** Recent Activity **********/

.recentActivity {
    grid-area: recentActivity;
}

.rightCaret {
    width: 0; 
    height: 0; 
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgba(0, 0, 0, 0.384);
    margin-left: auto;
}

/********** Message User **********/

.userMessages {
    grid-area: userMessages;
    height: 100%;
    width: 100%;
    background-color: white;
}

.userMessages input,
.userMessages textarea {
    display: flex;
    margin: auto;
    margin-bottom: 15px;
}

.userMessages input {
    width: 90%;
    border-color: rgba(0, 0, 0, 0.164);
    border-radius: 5px;
    padding: 8px;
}

.userMessages textarea {
    width: 91.5%;
    border-color: rgba(0, 0, 0, 0.178);
    /* cant figure out how to remove manual sizing of textarea size from lower right hand corner of element */
    height: 35%;
    border-radius: 5px;
    resize: none;
}

.userMessages button {
    background-color: rgb(115, 121, 186);
    border: none;
    color: white;
    width: 92.5%;
    height: 40px;
    margin-left: 30px;
    border-radius: 5px;
}

/********** User Settings **********/

.userSettings {
    grid-area: userSettings;
    height: 100%;
    width: 100%;
    background-color: white;
}

.newMembers p,
.recentActivity p,
.userMessages p,
.userSettings p
 {
    font-size: 14px;
}

/* tried display flex and flex-wrap: wrap on images in panels and does nothing - need imgs and text to fit in their respective panels and not bleed over into another one or disappear behind other panel elements  */

/* cant get buttons aligned flush from each panel */

.userSettings p {
    margin-top: -7px;
    margin-bottom: 12px;
    margin-left: 27px;
} /* need on/off toggle section next to <p> text */

.userSettings input {
    display: flex;
    margin: auto;
    margin-top: 4%;
    width: 92%;
    padding: 8px;
}

.userSettings button {
    margin-top: 2%;
    margin-left: 23.5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45.6%;
    height: 40px;
    background-color: rgb(115, 121, 186);
    border: none;
    color: white;
    border-radius: 5px;
}

button.onOffButton {
    height: 30px;
    width: 90px;
    border-radius: 15px;
    background-color: rgba(128, 128, 128, 0.726);
    border-width: 0px;
    position: relative;
    top: 10px;
    outline: none;
    transition: .2s;
}

.profile button {
    margin-left: 53px;
}
/* TOGGLE BUTTONS */

.knob {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: white;
    transform:translate(-50%, -50%);
    top: 50%;
    left: 20px;
    border-radius: 50%;
    transition: .2s;
}

.onOffButton.on{
    background-color:rgb(115, 121, 186)
}
    
.onOffButton.on .knob{
    left: 70px;
}

.onOffButton.on::after {
    content: "ON";
    position: absolute;
    transform:translate(-50%, -50%);
    top: 50%;
    left: 20px;
    color: white;
    font-weight: 700;
}

.onOffButton:not(.on)::before {
    content: "OFF";
    position: absolute;
    transform:translate(-50%, -50%);
    top: 50%;
    right: 0;
    color: white;
    font-weight: 700;  
}

.caretRelative {
    position: relative;
}

.downCaret {
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;   
    border-top: 10px solid rgba(0, 0, 0, 0.384);
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate(-50%, -50%);
} /* cant get arrow inside of input? */

body button.cancel {
    background-color: rgba(0, 0, 0, 0.356);
} /* color wont change from purple to this one */

.horizontalBreakLine {
    border-bottom: .5px solid rgba(0, 0, 0, 0.123);
    width: 100%;
}

/*******************
****Mobile Query****
*******************/

@media (max-width: 320px) {

}
